@charset "UTF-8";

/*    
#c5ebd6
#83e1ad
#83e1ad
#2fa866
#1a5c37

*/ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #83e1ad;
    --cor3: #2fa866;
    --cor4: #1a5c37;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    border-radius: 10px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    padding-top: 40px;
    
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

header > p{
    color: white;
    text-align: center;
    max-width: 670px;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

nav{
    background-color:var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.425);
}

nav > a{
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    margin-bottom: 15px;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
}

main{
    background-color: white;
    margin:auto;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

main img{
    width: 100%;
    margin: auto;
}

main img.pequena{
    max-width: 350px;
    display:block;
    margin: auto;
}

main h1{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor3), white);
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--cor3);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    background-color: var(--cor1);
    color: var(--cor4);
}

main a:hover{
    text-decoration: underline;

}

div.video{
    background-color: var(--cor4);
    margin-bottom: 30px;
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 59%;

    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.445) ;
    margin: 15px 0px;
}

aside > h3{
    background-image: linear-gradient(to right, var(--cor4), var(--cor3));
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}