/* Color Theme Swatches in Hex */
.Color-Theme-2-1-hex { color: #6763BF; }
.Color-Theme-2-2-hex { color: #5A58A6; }
.Color-Theme-2-3-hex { color: #99AFF2; }
.Color-Theme-2-4-hex { color: #9BD1F2; }
.Color-Theme-2-5-hex { color: #ACE5F2; }

/* Color Theme Swatches in RGBA */
.Color-Theme-2-1-rgba { color: rgba(102, 99, 191, 1); }
.Color-Theme-2-2-rgba { color: rgba(90, 87, 165, 1); }
.Color-Theme-2-3-rgba { color: rgba(152, 175, 242, 1); }
.Color-Theme-2-4-rgba { color: rgba(155, 208, 242, 1); }
.Color-Theme-2-5-rgba { color: rgba(171, 229, 242, 1); }

/* Color Theme Swatches in HSLA */
.Color-Theme-2-1-hsla { color: hsla(241, 41, 56, 1); }
.Color-Theme-2-2-hsla { color: hsla(241, 30, 49, 1); }
.Color-Theme-2-3-hsla { color: hsla(225, 77, 77, 1); }
.Color-Theme-2-4-hsla { color: hsla(203, 77, 77, 1); }
.Color-Theme-2-5-hsla { color: hsla(191, 73, 81, 1); }

<!--Cor dois

/* Color Theme Swatches in Hex */
.color-theme_2022-03-01_16-14-36-1-hex { color: #093640; }
.color-theme_2022-03-01_16-14-36-2-hex { color: #406973; }
.color-theme_2022-03-01_16-14-36-3-hex { color: #C1D4D9; }
.color-theme_2022-03-01_16-14-36-4-hex { color: #F24535; }
.color-theme_2022-03-01_16-14-36-5-hex { color: #D94E41; }

/* Color Theme Swatches in RGBA */
.color-theme_2022-03-01_16-14-36-1-rgba { color: rgba(9, 54, 64, 1); }
.color-theme_2022-03-01_16-14-36-2-rgba { color: rgba(64, 105, 115, 1); }
.color-theme_2022-03-01_16-14-36-3-rgba { color: rgba(193, 212, 217, 1); }
.color-theme_2022-03-01_16-14-36-4-rgba { color: rgba(242, 69, 53, 1); }
.color-theme_2022-03-01_16-14-36-5-rgba { color: rgba(217, 78, 65, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_2022-03-01_16-14-36-1-hsla { color: hsla(190, 75, 14, 1); }
.color-theme_2022-03-01_16-14-36-2-hsla { color: hsla(191, 28, 35, 1); }
.color-theme_2022-03-01_16-14-36-3-hsla { color: hsla(192, 24, 80, 1); }
.color-theme_2022-03-01_16-14-36-4-hsla { color: hsla(5, 87, 57, 1); }
.color-theme_2022-03-01_16-14-36-5-hsla { color: hsla(5, 66, 55, 1); }

<!--cor 3