@charset "UTF-8";

/* 
    em HTML id= é em CSS #
    em HTML class= é em CSS . 

*/
body{
    background-color: rgb(198, 253, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}
h1{
    color: rgb(14, 77, 56);
}
h1#principal{
    text-align: center;
}
h2{
    color: rgb(29, 131, 97);
}

.basico{
    color: rgb(29, 131, 97);
}

.intermediario{
    color: rgb(131, 124, 29);
}

.avancado{
    color: rgb(131, 29, 29);
}